@charset "UTF";


@media screen and (max-width: 1050px){
    
    .menu{
        display: none;
        position: relative;
        background-color: black;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 1px rgb(2, 2, 2);
    }
    .menu li{
        position: relative;
    }
    i#burguer{
        display: block;
    }
    .conteudo{
        height: 1300px;
    }
    .iconteudo{
        font-size: 3vh;
    }
    .membros{
        height: 1600px;
        justify-content: center;
    }
    .membros h1{
        font-size: 2em;
    }
    .row1{
        display: block;
        
    }
} 