@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,600;1,200;1,400;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
:root{
    --cor1: #181818;
    --cor2: #252525;
    --cor3: white;
    --cor4: black;

    --font1: 'Bebas Neue', sans-serif;
    --font: 'Nunito', sans-serif;
    --font2:'Unica One', cursive;
}
@media screen and (min-width: 940px) { 
    i#burguer{
        display: none;
    }
    .menu{
        display: block;
    }
    .introducaoback{
        font-size: 3vw;
        height: 60vh;
    }
    .introducaoback p{
        font-size: 4vw;
    }
}