body{
    background-color: #000000;
    color: white;
    font: normal 15pt Arial;
    padding: 35px;
    text-indent: 35px;    
}
header{
    position: relative;
}
h1 {
    font: normal 20pt Arial;
    color: white;
    box-shadow: 2px 2px 2px white;
}
h2 {
    font: normal 18pt Arial;
    color: white;
}
section{ 
    background-color: rgb(36, 35, 35);
    border-radius: 50px;
    padding: 50px;
}
p{
    text-align: justify;
    text-indent: 50px;   
}
figure.flegenda {
    text-indent: 0px;
    position: relative;
    border: 3px solid rgb(36, 35, 35);
    box-shadow: 1px 1px 4px white;
    width: 20%;
    height: 20%;
}
figure.flegenda img {
    text-indent: 0px;
    width: 100%;
    height: 100%;
}
figure.flegenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0 ,0,0.5 );
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition-duration: 150ms;
}
figure.flegenda:hover figcaption{
    opacity: 1;
}
img.copia {
    width: 20%;
    height: 20%;   
}
footer{
    background-color: rgb(36, 35, 35);
    border-radius: 20px; 
}
p.roda{
    text-align: center;
}